body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    margin: 0;
}

.container {
    text-align: center;
}

input, button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}

#countdown {
    padding: 120px;
    margin-top: 120px;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
}

.hidden {
    display: none;
}
